<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.warmtel.music">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MusicActivity"/>
        <activity android:name=".MusicListActivity"/>
        <activity android:name=".music.TwoMusicListActivity"/>
        <activity android:name=".music.TwoMusicActivity"/>
        <activity android:name=".MusicCursorListActivity"/>
        <service android:name=".service.MusicService"/>
        <service android:name=".service.TwoMusicService"/>
    </application>

</manifest>
