<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.warmtel.music">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".demo1.MusicActivity" />
        <activity android:name=".demo1.MusicListActivity" />
        <activity android:name=".demo2.TwoMusicListActivity" />
        <activity android:name=".demo3.ThreeMusicListActivity" />
        <activity android:name=".demo2.TwoMusicActivity" />
        <activity android:name=".demo3.ThreeMusicActivity" />
        <activity android:name=".test.MusicCursorListActivity" />

        <service android:name=".demo1.MusicService" />
        <service android:name=".demo2.TwoMusicService" />
        <service android:name=".demo3.ThreeMusicService" />

    </application>

</manifest>
